/***********************************************************************************************************************
/*
/* Table of Contents
/*
/* 1. Loaders / #preloader, #status, #ajax-status
/* 2. Navigation / nav
/* 3. Ajax-box / #ajax-box
/* 4. Toast / .toast
/* 5. Card / .card
/* 6. Forms / #subscribe, #contact
/* 7. Tabs / .tabs
/* 8. Common styles
/* 9. Triangles / #triangles
/* 10. Services / .services
/* 11. Works / .filter-options, .picture-item
/* 12. About / .team
/* 13. Prices / .currency-switcher, .price-container
/* 14. Contact / .map
/* 15. Footer / .page-footer
/*
/**********************************************************************************************************************/
/***********************************************************************************************************************
/*
/* 1. Loaders / #preloader, #status, #ajax-status
/*
/**********************************************************************************************************************/
#preloader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white; }
  #preloader .preloader-wrapper {
    margin: 0 auto; }
    #preloader .preloader-wrapper .spinner-blue-only.actually-black {
      border-color: black; }

#status {
  display: none;
  position: fixed;
  top: 100px;
  right: 50px; }

#ajax-status {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -32px; }

#ajax-status .spinner-blue-only.actually-green,
#status .spinner-blue-only.actually-green {
  border-color: #a7c4ca; }

/***********************************************************************************************************************
/*
/* 2. Navigation / nav
/*
/**********************************************************************************************************************/
nav {
background-color: #fff;
-webkit-box-shadow: -1px 9px 5px -4px rgba(0,0,0,0.05);
-moz-box-shadow: -1px 9px 5px -4px rgba(0,0,0,0.05);
box-shadow: -1px 9px 5px -4px rgba(0,0,0,0.05);
/*rgba(255, 255, 255, 0.95);*/ }
  nav .brand-logo,
  nav ul a {
    color: black;
    /*padding: 5px 15px 0 0; */
  }
  nav .brand-logo {
    font-weight: 400;
    letter-spacing: -2px;
    padding: 5px 15px 0 0; }
    nav .brand-logo .tighter {
      letter-spacing: -3px; }
  nav .side-nav {
    background-color: rgba(255, 255, 255, 0.95); }
  nav .mdi-navigation-menu,
  nav .side-nav a {
    color: #1a237e;
    font-size: 2rem; }
  nav .table-of-contents li {
    padding: 0;
    height: 64px; }
  nav .table-of-contents a {
    display: block;
    height: 64px;
    line-height: 64px;
    font-weight: normal;
    color: black;
    border: none; }
    nav .table-of-contents a.active, nav .table-of-contents a:hover {
      color: black;
      border: none;
      padding-left: 20px; }
    nav .table-of-contents a.active {
      font-weight: normal;
      background-color: rgba(0, 0, 0, 0.1);
      border-bottom: 4px solid #a7c4ca; }

/***********************************************************************************************************************
/*
/* 3. Ajax-box / #ajax-box
/*
/**********************************************************************************************************************/
#ajax-box {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: 0.6s, 0.6s;
  -moz-transition-duration: 0.6s, 0.6s;
  transition-duration: 0.6s, 0.6s;
  -webkit-transition-timing-function: ease-out, ease;
  -moz-transition-timing-function: ease-out, ease;
  transition-timing-function: ease-out, ease; }
  #ajax-box.translate.enter {
    will-change: transform, opacity;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  #ajax-box.translate {
    will-change: transform, opacity;
    -webkit-transform: translate3d(0, 50%, 0);
    -moz-transform: translate3d(0, 50%, 0);
    -ms-transform: translate3d(0, 50%, 0);
    -o-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    opacity: 0; }
  #ajax-box .parallax img {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
  #ajax-box #close-ajax {
    position: absolute;
    z-index: 8888;
    top: .75rem;
    left: .75rem; }
  #ajax-box .padding-text {
    padding: 1rem; }
  #ajax-box h1 {
    text-transform: uppercase;
    letter-spacing: 5px; }
    @media only screen and (max-width: 600px) {
      #ajax-box h1 {
        font-size: 36px;
        letter-spacing: 3px; } }

/***********************************************************************************************************************
/*
/* 4. Toast / .toast
/*
/**********************************************************************************************************************/
@media only screen and (max-width: 992px) and (min-width: 601px) {
  #toast-container {
    right: 5%; } }
.toast {
  height: auto;
  line-height: 1.75rem;
  padding: 20px; }
  .toast a {
    display: block;
    color: white;
    text-decoration: underline; }

.toast.error {
  background-color: #f44336; }

.toast.success {
  background-color: #00e676;
  color: black; }

/***********************************************************************************************************************
/*
/* 5. Card / .card
/*
/**********************************************************************************************************************/
.card {
  opacity: 0;
  -webkit-transform: translate3d(0, 150px, 0);
  -moz-transform: translate3d(0, 150px, 0);
  -ms-transform: translate3d(0, 150px, 0);
  -o-transform: translate3d(0, 150px, 0);
  transform: translate3d(0, 150px, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .card.animate {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .card:hover {
    -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }
    .card:hover a.btn-floating {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  .card.active a.btn-floating {
    visibility: hidden; }
  .card a, .card i {
    color: #1a237e;
    text-transform: none; }
    .card a:hover, .card i:hover {
      color: #2b3ad3; }
  .card a.btn-floating {
    position: absolute;
    bottom: 10px;
    right: 10px;
    -webkit-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    -ms-transform: translate3d(0, 200px, 0);
    -o-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0); }
  .card .card-image img {
    display: block; }
  .card .card-date {
    color: #9e9e9e; }
  .card .card-reveal {
    background: rgba(255, 255, 255, 0.8); }
  .card .card-title {
    text-transform: uppercase;
    letter-spacing: 4px; }

/***********************************************************************************************************************
/*
/* 6. Forms / #subscribe, #contact
/*
/**********************************************************************************************************************/
#subscribe button {
  margin-top: 2rem; }
  @media only screen and (max-width: 600px) {
    #subscribe button i {
      display: none; } }
#subscribe input.error {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336; }

input[type=email]:focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #a7c4ca; }

input[type=email]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #a7c4ca;
  box-shadow: 0 1px 0 0 #a7c4ca; }

input:-webkit-autofill,
textarea:-webkit-autofill {
  background-color: white !important; }

.cant-touch-this {
  position: absolute;
  left: -5000px; }

#contact .modern-connect i {
  width: 1.2rem; }

/***********************************************************************************************************************
/*
/* 7. Tabs / .tabs
/*
/**********************************************************************************************************************/
.tabs .tab {
  text-transform: none;
  letter-spacing: normal; }
  .tabs .tab a {
    color: #1a237e; }
    .tabs .tab a:hover {
      color: #2b3ad3; }
.tabs .indicator {
  background-color: #a7c4ca; }

.tab-contents {
  margin: 2rem 0; }

/***********************************************************************************************************************
/*
/* 8. Common styles
/*
/**********************************************************************************************************************/
body {
  /*overflow-y: hidden;
  overflow-x: hidden; */
}

a {
  color: #1a237e;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  a:hover {
    color: #2b3ad3; }
  a[role=button] {
    cursor: pointer; }

.responsive-img {
  display: block; }

.container {
  max-width: 1700px;
  width: 100%; }
  @media only screen and (min-width: 601px) {
    .container {
      width: 100%; } }
  @media only screen and (min-width: 993px) {
    .container {
      width: 100%; } }

.wide-container {
  padding: 0 .75rem; }

.section {
  /*padding-top: 6rem;*/
  /*padding-bottom: 3rem; */
}
  .section.grey-section {
    background: #f2f2f2; }

h2 {
  /*margin-bottom: 50px;*/
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  /* margin-bottom: 50px; */
  /* text-transform: uppercase; */
  /* font-size: 64px; */
  /* line-height: 110%; */
  letter-spacing: -4px;
  font-weight: 200;
  /*font-size: 64px;
  font-weight: 200;
  line-height: 110%;
  letter-spacing: 5px; */
}
  @media only screen and (max-width: 600px) {
    h2 {
      font-size: 38px;
      /*font-size: 46px;*/
      /*letter-spacing: 3px; */
      letter-spacing: -1px;
      }
    }
  h2:after {
    content: '';
    position: absolute;
    left: 50%;
    display: block;
    width: 100px;
    height: 5px;
    margin-left: -50px;
    margin-top: 9px;
    background-color: #a7c4ca; }

@media only screen and (min-width: 601px) {
  .right-on-med-and-up {
    float: right; } }
.social i {
  margin: 0 .25rem; }

blockquote {
  border-left: 5px solid #a7c4ca; }

.waves-effect.waves-secondary-color .waves-ripple {
  background-color: #a7c4ca; }

/***********************************************************************************************************************
/*
/* 9. Triangles / #triangles
/*
/**********************************************************************************************************************/
#triangles {
  height: 600px; }
  #triangles .h1-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: white; }
    #triangles .h1-wrapper h1 {
      text-align: center;
      /*font-weight: 200;*/
      font-size: 1em;
      line-height: 1.3em !important;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      font-family: "Roboto", sans-serif !important;
      font-weight: 300; }
      @media only screen and (min-width: 601px) and (max-width: 992px) {
        #triangles .h1-wrapper h1 {
          font-size: 4.5em;
          line-height: 4.7em; } }
      @media only screen and (min-width: 993px) {
        #triangles .h1-wrapper h1 {
          font-size: 57px;/*1.0em;*/
          line-height: 3.4em; } }
    #triangles .h1-wrapper i {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
  #triangles #explore {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -27.75px; }

/***********************************************************************************************************************
/*
/* 10. Services / .services
/*
/**********************************************************************************************************************/
.services {
  margin-top: 3rem; }
  .services h5 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -1px; }
  .services .col {
    /*text-align: center;*/
    font-size: 16px; }
    @media only screen and (max-width: 992px) {
      .services .col {
        margin-bottom: 40px; } }
    .services .col .divider {
      margin: 15px 0;
      -webkit-transition: background-color 0.3s ease;
      -moz-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease; }
    .services .col p {
      font-weight: 300; }
      @media only screen and (min-width: 601px) and (max-width: 992px) {
        .services .col p {
          margin: 0 auto 20px;
          max-width: 300px; } }
    .services .col:hover .divider {
      background-color: #1a237e; }
    .services .col i {
      color: #1a237e; }

/***********************************************************************************************************************
/*
/* 11. Works / .filter-options, .picture-item
/*
/**********************************************************************************************************************/
.filter-options {
  text-align: center;
  padding-top: 30px; }
  .filter-options a {
    color: #1a237e;
    -webkit-transition: background-color 0.2s linear 0.3s;
    -moz-transition: background-color 0.2s linear 0.3s;
    transition: background-color 0.2s linear 0.3s; }
    .filter-options a.active {
      background-color: #a7c4ca; }
    @media only screen and (max-width: 600px) {
      .filter-options a {
        margin-bottom: 10px; } }

.picture-item {
  margin-bottom: 1rem;
  top: 100px !important;
  opacity: 0 !important;
  -webkit-transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -moz-transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1) !important; }
  .picture-item.animate {
    top: 0 !important;
    opacity: 1 !important; }
  .picture-item h5 {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px; }

/***********************************************************************************************************************
/*
/* 12. About / .team
/*
/**********************************************************************************************************************/
@media only screen and (max-width: 600px) {
  .team.row > .col {
    background: #f2f2f2;
    margin-bottom: 1rem; } }
.team > .col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  position: relative;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate3d(0, 150px, 0);
  -moz-transform: translate3d(0, 150px, 0);
  -ms-transform: translate3d(0, 150px, 0);
  -o-transform: translate3d(0, 150px, 0);
  transform: translate3d(0, 150px, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .team > .col.animate {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .team > .col:hover .description-ball {
    -webkit-transform: scale3d(50, 50, 50);
    -moz-transform: scale3d(50, 50, 50);
    -ms-transform: scale3d(50, 50, 50);
    -o-transform: scale3d(50, 50, 50);
    transform: scale3d(50, 50, 50); }
  .team > .col:hover .description {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease 0.1s;
    -moz-transition: opacity 0.5s ease 0.1s;
    transition: opacity 0.5s ease 0.1s; }
@media only screen and (min-width: 601px) {
  .team .description-ball {
    will-change: transform;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    -o-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: rgba(105, 240, 174, 0.9); }
  .team .description {
    opacity: 0;
    -webkit-transition: opacity 0.1s ease 0s;
    -moz-transition: opacity 0.1s ease 0s;
    transition: opacity 0.1s ease 0s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .team .description .h4-row {
      margin-top: 20%; }
      .team .description .h4-row h4 {
        margin-left: auto;
        margin-right: auto; }
        .team .description .h4-row h4 small {
          text-transform: uppercase;
          letter-spacing: 4px;
          font-size: 60%; } }
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .team .description .h4-row {
    margin-top: 10%; } }

/***********************************************************************************************************************
/*
/* 13. Prices / .currency-switcher, .price-container
/*
/**********************************************************************************************************************/
.currency-switcher [type="radio"]:not(:checked) + label,
.currency-switcher [type="radio"]:checked + label {
  padding-left: 25px; }
.currency-switcher [type="radio"]:checked + label:after {
  border: 2px solid #a7c4ca;
  background-color: #a7c4ca; }
.currency-switcher label {
  margin-right: .25rem;
  color: black; }

.price-container {
  padding: 4rem 0;
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border-radius: .1px; }
  @media only screen and (max-width: 600px) {
    .price-container {
      margin-bottom: 2rem; } }
  .price-container .offer {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px; }
    @media only screen and (min-width: 601px) and (max-width: 992px) {
      .price-container .offer {
        font-size: 18px;
        letter-spacing: 2px; } }
    .price-container .offer.best-value {
      font-weight: 600; }
  .price-container .divider {
    margin: 15px 0;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
  .price-container:hover .divider {
    background-color: #1a237e; }
  .price-container .price {
    font-size: 64px;
    font-weight: 200; }
  .price-container ul {
    margin-bottom: 3rem; }
    .price-container ul li {
      font-size: 16px;
      line-height: 32px; }

/***********************************************************************************************************************
/*
/* 14. Contact / .map
/*
/**********************************************************************************************************************/
address {
  font-style: normal;
  margin: 1em 0; }

.map {
  margin-top: 5rem; }

#map-canvas {
  height: 550px;
  margin-bottom: 1rem; }

.contact-details .col:hover .divider {
  background-color: #1a237e; }
.contact-details .col .divider {
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }
.contact-details h5 {
  text-transform: uppercase;
  letter-spacing: 4px; }

/***********************************************************************************************************************
/*
/* 15. Footer / .page-footer
/*
/**********************************************************************************************************************/
footer.page-footer {
  margin-top: 2rem;
  padding-top: 0;
  background-color: rgba(0, 0, 0, 0.05); }
  footer.page-footer .footer-copyright {
    color: black; }

/*# sourceMappingURL=wata.css.map */
